<!DOCTYPE html>
<html lang="ru" xmlns:th="http://ww.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
      rel="stylesheet"
    />
    <title>FilmWatcher - главная страница</title>
  </head>
  <body>

  <header class="header__content">
    <a href="/api/getMainPage" class="header__logo">FilmWatcher</a>
    <div class="header__login-s">
      <a class="header__login" href="/api/logoutPage">Выйти</a>
      <form>
        <input type="text" class="header__search" placeholder="Поиск" />
      </form>
    </div>
  </header>
    <div class="container">
      <div class="movies"></div>
      <div class="modal"></div>
    </div>
    <script src="/index.js"></script>
  </body>
</html>
