<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>FilmWatcher - фильм</title>
</head>
<body>
    <header class="header__content">
        <a href="/api/getMainPage" class="header__logo">FilmWatcher</a>
        <a class="header__login" href="/api/logoutPage">Выйти</a>
    </header>
    <div class="container">
        <div class="movie-details">
            <div class="movie-title-lang">
                <h1 class="movie-title">Название фильма</h1>
                <h1 class="movie-title-en">Film name</h1>
            </div>
            <div class="movie-info">
                <div class="movie-meta">
                    <span class="movie-slogan">Слоган: </span>
                    <span class="movie-year">Год выпуска</span>
                    <span class="movie-country">Страна</span>
                    <span class="movie-budget">Бюджет</span>
                    <div class="movie-description">Описание фильма</div>
                    <div class="movie-rating-kp">Рейтинг Кинопоиск</div>
                    <div class="movie-rating-imdb">Рейтинг IMDb</div>
                    <div class="movie-trailer">Трейлер</div>
                </div>
                <div class="movie-image">
                    <img src="" alt="Постер фильма">
                </div>
            </div>
            <div class="movie-comments">
                <h2>Комментарии</h2>
                <form id="comment-form">
                    <textarea id="comment-text" placeholder="Напишите комментарий..."></textarea>
                    <button type="submit">Отправить</button>
                </form>
                <div id="comments-container"></div>
            </div>
        </div>
    </div>
    <script src="/movie.js"></script>
</body>
</html>
